@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorMain: #EEE8AA;
    --colorFondo:#FFFFFF;
    --colorGris: #F5F5F5;
    --texto: #000000;
}


header{ 
    /* display: flex;
    justify-content: center; */
    background-color: var(--colorFondo);
    border-bottom: 2px solid var(--colorGris)  ;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

.header-padre{
    align-items: center;
    
    
}

.logo{
    font-size: 2.125rem;
    font-weight: bolder;
    font-family:  'Source Sans Pro', sans-serif;
    font-style: regular;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--texto);
}

.menuNav{
    text-align: center;
    align-items: center;
}

.menuNav a{ /*menu principal*/
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif ;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--texto);
    margin: 0 0.75rem;
}


.menuNav a:hover{
    border-bottom: 2px solid var(--colorMain);
    
}


.iconos-redes{ /*fuente redes sociales*/
    font-size: 1rem;
    word-spacing: 8px;
    color: var(--texto);
    text-align: end;
}

.iconos-redes a{
    color: var(--texto);
}

.iconos-redes a:hover{
    color: var(--colorMain);
    
}

.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: none;
  }
  .nav-icon-5 span{
    background-color:#000000;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }



@media (max-width: 769px){
    .padre-header{
        display: flex;
        justify-content: space-between;
    }
     .menuNav{
        position: fixed;
        top: 85px;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        width: 80%;
        height: 100vh;
        text-align: center;
        transition: 0.4s;
        z-index: -1;
        border: 1px solid rgba(182, 178, 178, 0.481);
    }

    .menuNav.active{
        right: -100%;
    }

    .menuNav a{
        font-size: 1.8rem;
        justify-content: center;
        padding-top: 20px;
    }

    .menuNav a:hover{
        border-bottom: 0;
        color: var(--colorMain);
    }
    .logo{
        margin-left: 5px;
    }
    .nav-icon-5{
        display: block;
        margin-right: 2rem;
    }

}
@media (max-width: 1024px) { 
    .logo{
        padding-left: 15px;
    }
     .iconos-redes{
        display: none;
    }

    .menuNav a{
        margin: 0 8px;
    }
    
 }
 


html{
    scroll-behavior: smooth;
}


/*empieza seccion 1*/
.inicio{
    background-color: var(--colorMain);
    
}
.container{
    align-items: center;
}
.contenedor-texto-img{
    align-items: center;
    padding-top: 2.5rem;
    
}

.texto{
    font-family:'Source Sans Pro', sans-serif;
    color: var(--texto);
    
}
.titulo{
    font-weight: normal;
    font-size: 2.188rem;
    text-transform: uppercase;
    
}
/*animacion de titulo,seccion inicio*/

@keyframes escribir{
    0%{
        width: 0px;
    }

    100%{
        width: 100%;
    }
}

.developer{
    animation: escribir 2s steps(10);
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    
}

.developer{
    font-size: 6.625rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 6px;
    border-right: 10px solid var(--texto);
    color: var(--texto);
    padding-right: 10px;
    overflow: hidden;
}

.texto p{
    margin-top: 1.563rem;
    font-size: 1.563rem;
    font-weight: 340;
}

.mis-trabajos>a{
    color: var(--colorFondo);
    text-decoration: none;
    font-size: 0.938rem;
    text-align: center;
    
}
.mis-trabajos{
    background-color: var(--texto);
    border: 1px solid var(--texto);
    padding: 10px 1.25rem;
    margin-top: 1.563rem;
}


.contactame{
    background-color: var(--colorMain);
    border: none;
    margin-left: 1.563rem;
    margin-top: 1.563rem;
    color: var(--texto);
    font-size: 0.938rem;
    text-align: center;
}

.contactame:hover{
    color: var(--colorFondo);
    text-decoration: none;
}

.contactame i{
    margin-left: 5px;
    font-weight: bolder;
}

.imagen{
    width: 350px;
}
.img-perfil{
    width: 400px;
    height: 380px;
    border-radius: 50%;
    border: 0.75rem solid var(--colorFondo);
    object-fit: cover;
}


@media(max-width:1216px){
    .img-perfil{
        width: 300px;
        height: 300px;
    }
   
}
@media(min-width:769px) and (max-width:930px){
    .img-perfil{
        width: 260px;
        height: 260px;
    }
}
@media(max-width:769px){
    
    .inicio .container{
        align-items: center;
        text-align: center;
        
    }
    .contenedor-texto-img{
        margin-top: 20px;
    }
    .medio{
        display: none;
    }
    .contenedor-texto-img{
        display: flex;
        flex-direction: column-reverse;

    }
}

/*empieza seccion 2, acerca de*/
.acerca-de{ 
    background-color: var(--colorFondo);
    padding-top: 5.938rem;
    width: 100%;
    height: auto;
}


.nombre-seccion{
    text-align: center;
}

.nombre-seccion>p{ /*acerca de mi*/
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    background-color: var(--colorMain);
    color: var(--texto);
    display: inline;
    padding: 2px 4px;
    
}

.subtitulo{
    color: var(--texto);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.75rem;
    font-weight: bold;
    margin-top: 10px;
}

.contenedor-info{
    
    align-items: center;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
   
}

.presentacion h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25rem;
    color: var(--texto);
}

.nombre{
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: 3px solid var(--colorMain);
}

.presentacion p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.625rem;
    margin-top: 0.938rem;
    color: var(--texto);

}

.caja-experiencia{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--colorMain);
    border: 1px solid var(--colorMain);
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1.875rem;
}

.años{ 
    font-family:'Source Sans Pro', sans-serif  ;
    font-size: 11.25rem;
    font-weight: bold;
    color: var(--texto);
}

.año-de{
    font-size: 34px;
    font-family:'Source Sans Pro', sans-serif;
    color: var(--texto);
}

.experiencia{
    font-size: 2.25;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: var(--texto);
}

.contenedor-gral .recuadro{
    margin-top: 0.938rem;
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 1.125rem;
    /* width: 90%; */
    height: auto;
    margin-bottom: 100px;
}

.titulo-lista{
    color: #A1A1A1;
    font-weight: bold;
    list-style: none;
}


.titulo-lista li,a{
    color: var(--texto);
    font-weight: bold;
}
.titulo-lista li a:hover{
    text-decoration: none;
}

@media(max-width:769px){
    .recuadro,.contenedor-info{
        text-align: center;
    }
}

/*empieza seccion 3, servicios*/

.servicios{ 
    background-color: var(--colorGris);
    padding-top: 5.938rem;
    width: 100%;
    height: auto;
    padding-bottom: 2.5rem; 
}


.padre{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 5.625rem 0;
    width: 100%;
}

.caja{
    text-align: center;
    margin-bottom: 2.813rem;
}

.caja i{
    color: var(--colorMain);
    font-size: 3.438rem;  
    margin-bottom: 12px; 
}

.caja h3{
    font-size: 2rem;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: var(--texto);
    margin-top: 10px;
    
}

.caja p{
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--texto);
}

/*empieza seccion 4 , resumen*/
.resumen{
    background-color: var(--colorFondo);
    padding-top: 5.938rem;
    height: auto;
}

.padre-resumen{
    margin-top: 3.75rem;
}


.resumen-educacion h1{
    font-size: 1.625rem;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: var(--texto);
}

.box-resumen{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.25rem;
    border-left: 3px solid var(--colorMain);
    padding-left: 1.563rem;
}

.caja-educacion{
    border-bottom: 1px solid #e9e6e6 ; 
    text-align: initial;
    width: 95%;
    height: auto;
    margin-bottom: 10px;
    padding: 1.25rem 0;
}

.caja-educacion h3{
    font-family:'Source Sans Pro', sans-serif ;
    font-weight: 800;
    color: var(--texto);
    margin-bottom: 10px;
}

.instituto{
    font-family:'Source Sans Pro', sans-serif ;
    font-weight: 540;
    color: var(--texto);
    margin-bottom: 10px;
}

.instituto+p{
    font-family:'Source Sans Pro', sans-serif ;
    font-weight: 340;
    color: var(--texto);
    margin-bottom: 10px;
}


.resumen-experiencia h1{
    font-size: 26px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: var(--texto);
}

.caja-experiencia-resumen{
    border-bottom: 1px solid #e9e6e6 ; 
    text-align: initial;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 1.25rem 0;

}
.caja-experiencia-resumen h3{
    font-family:'Source Sans Pro', sans-serif ;
    font-weight: 800;
    color: var(--texto);
    margin-bottom: 10px;
}

@media(max-width:1024px){
    .padre-resumen{
        flex-direction: column;
    }
  
}


.habilidades h1{
    font-size: 1.625rem;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin-bottom: 1.563rem;
    color: var(--texto);
}

.padre-habilidades{
    
    height: auto;
    
}

.box-habilidades{
    margin-bottom: 25px;
    width: 100%;
}

.box-habilidades p{
    font-size: 1.25rem;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin-bottom: 0.938rem;
    color: var(--texto);
}

.porcentaje{
    float: right;
}

.box-habilidades hr{
    background-color: var(--colorMain);
    border: 1px solid var(--colorMain);
    border-radius: 3px 0 0 3px;
    height: 6px;
}

.contenedor-hr{
    background-color: rgba(248, 248, 248, 0.816);
    border: none;
    border-radius: 3px 3px;
    width: 32.125rem;
    height: 8px;
}

.diseño-web{
    width: 95%;
}
.html-css{
    width: 90%;
}

.javascript{
    width: 70%;
}

.react{
    width: 90%;
}

.angular{
    width: 50%;
}

.bootstrap{
    width: 75%;
}

.btn-descargar-cv{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    height: 55px;
}


.btn-descargar-cv a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.download-btn-cv{
    background-color: var(--colorFondo);
    color: var(--texto);
    border: 1px solid var(--texto);
    padding: 0.75rem 2rem;
    text-decoration: none;
}

.download-btn-cv :hover{
    background-color: var(--texto);
    color: var(--colorFondo);
    border: 1 px solid var(--texto);
}

@media(max-width:1024px){

    .contenedor-hr{
        width: 100%;
    }
}
@media(max-width:769px){
    .resumen-educacion,.resumen-experiencia,.caja-educacion,.caja-experiencia{
        text-align: center;

    }
   .habilidades{
    text-align: center;
   }
    }


/*empieza seccion 5 portfolio*/

.portfolio{
    background-color: var(--colorGris);
    padding: 5rem 0;
    /* width: 100%; */
    height: auto;
}

.contenedor-nav-portfolio{
    display: flex;
    justify-content: center;
    margin: 2.188rem 0;
}

.nav-portfolio{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.nav-portfolio a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.553);
}

.nav-portfolio a:hover{
    color: var(--texto); 
}


/*imagenes portfolio*/

.contenedor-img{
    
    margin-bottom: 2.1875rem;
}


.container-imagen{
    position: relative;
    width: 100%;
    object-fit: contain;
}
/* .contenedor-img .column{
    padding: 0;
} */
.img-portfolio{
    width: 100%;
    height: 400px
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 400px;
    opacity: 0;
    transition: 0.5s ease;
    text-align: center;
    
    
}

.caja-img:hover .descripcion-img{
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}


/*Descripcion imagenes,portfolio*/

.descripcion-img .icono-img{
    font-size: 2.25rem;
    color: var(--colorMain);
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    top: 35%;
}

.descripcion-img h3{
    font-size: 1.375rem;
    font-weight: bold;
    font-family:'Source Sans Pro', sans-serif ;
    color: var(--colorFondo);
    margin-bottom: 10px;
    position: relative;
    top: 35%;
}

.descripcion-img p{
    font-size: 0.875rem;
    font-weight: 500;
    font-family:'Source Sans Pro', sans-serif ;
    color: var(--colorFondo);
    margin-bottom: 10px;
    position: relative;
    top: 35%;
}

.hamburguesa-portfolio{
    font-size: 1.625rem;
    color: var(--texto);
    display: none;
}


@media(max-width:946px){
    .contenedor-nav-portfolio{
        display: none;
    }
    .portfolio .subtitulo{
        padding-bottom: 1rem
    }

    .caja-img{
        display: flex;
        justify-content: center;
    }
    .container-imagen{
        width: 80%;
    }
}
/*empieza footer*/ 

footer{
    background-color: var(--colorMain);
    height: auto;
    padding-bottom: 2rem;
}

footer h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.25rem;
    margin: 2.188rem 0;
    color: var(--texto);
}

.contenedor-footer p{
    font-family:'Source Sans Pro', sans-serif ;
    font-size: 1.125rem;
    margin: 0.75rem 0;
    color: var(--texto);

}

.contenedor-footer h3{
    font-size: 1.25rem;
    font-family:'Source Sans Pro', sans-serif ;
    margin: 1.375rem 0;
    color: var(--texto);
}

.iconos-footer{
    font-size: 1rem;
    word-spacing: 8px;
    margin-top: 2.188rem;
}

.iconos-footer a{
    color: rgb(72, 71, 71);
}


.iconos-footer .bi-facebook:hover{
    color: rgb(37, 37, 242);
    transition: 0.2s ease-in-out;
}

.iconos-footer .bi-instagram:hover{
    color: rgb(235, 77, 130);
    transition: 0.2s ease-in-out;
}

.iconos-footer .bi-linkedin:hover{
    color: rgb(29, 29, 188);
    transition: 0.2s ease-in-out;
}

.iconos-footer .bi-github:hover{
    color: #000000;
    transition: 0.2s ease-in-out;
}

.contenedor-contacto{
    width: 40%;
}

.formulario-footer{
    width: 45%;
}


.label{
    font-family:'Source Sans Pro', sans-serif ;
    font-weight: normal;
    font-size: 1.125rem;
    color: var(--texto);
    margin-bottom: 0.938rem;
    
}

input[type=text],input[type=email]{
    font-size: 1.125rem;
    background-color:var(--colorMain);
    border: 0;
    border-bottom: 2px solid #a2a2a287;
    margin-bottom: 0.938rem;
    outline: none;
    width: 100%;
}


input[type=text]:hover{
    border-bottom: 2px solid #484747a3;
}

input[type=email]:hover{

    border-bottom: 2px solid #484747a3;;
}

textarea{
    height: 5rem;
    font-size: 1.125rem;
    background-color: var(--colorMain);
    resize: vertical;
    border: none;
    border-bottom: 2px solid #a2a2a287;
    outline: none;
    margin-bottom: 1.25rem;
    width: 100%;
}

textarea:hover{
    border-bottom: 2px solid #484747a3;;
}

.enviar-formulario{
    width: 6.25rem;
    font-size: 0.875rem;
    font-family:'Source Sans Pro', sans-serif ;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: var(--colorFondo);
    background-color: var(--texto);
    border: 1px solid var(--texto);
    padding: 8px 4px;
}



.enviar-formulario{ 
    transition: background-color 0.3s ease-in;
    transition: border 0.5s ease-in-out;
}
.enviar-formulario i{
    margin-left: 8px;
    font-weight: bold;
}

.enviar-formulario:hover{
    color: var(--colorFondo);
    background-color: #181818;
    border: 1px solid #181818;
    
    
}

@media(max-width:769px){
    .contenedor-footer{
        text-align: center;
    }
}